.Audi path {
    fill: rgb(37, 117, 219)
}

.BMW path {
    fill: rgb(142, 168, 122)
}

.Fiat path {
    fill: rgb(194, 2, 180)
}

.Ford path {
    fill: rgb(123, 237, 204)
}

.Hyundai path {
    fill: rgb(236, 96, 159)
}

.KIA path {
    fill: rgb(27, 250, 128)
}

.Mazda path {
    fill: rgb(111, 102, 8)
}

.Mercedes-Benz path {
    fill: rgb(125, 70, 173)
}

.Opel path {
    fill: rgb(92, 62, 100)
}

.Renault path {
    fill: rgb(57, 107, 230)
}

.Seat path {
    fill: rgb(240, 216, 237)
}

.Skoda path {
    fill: rgb(162, 82, 139)
}

.Toyota path {
    fill: rgb(153, 170, 253)
}

.Volvo path {
    fill: rgb(23, 168, 202)
}

.VW path {
    fill: rgb(6, 195, 144)
}

.Abarth path {
    fill: rgb(175, 78, 27)
}

.Aiways path {
    fill: rgb(222, 164, 230)
}

.Aixam path {
    fill: rgb(132, 164, 111)
}

.Alfa Romeo path {
    fill: rgb(212, 209, 22)
}

.Alpina path {
    fill: rgb(192, 150, 6)
}

.Alpine path {
    fill: rgb(44, 172, 7)
}

.Aston Martin path {
    fill: rgb(100, 195, 25)
}

.Austin path {
    fill: rgb(144, 239, 51)
}

.Bentley path {
    fill: rgb(169, 191, 248)
}

.British Leyland path {
    fill: rgb(157, 56, 245)
}

.Buick path {
    fill: rgb(76, 234, 70)
}

.BYD path {
    fill: rgb(121, 122, 11)
}

.Cadillac path {
    fill: rgb(233, 128, 158)
}

.Casalini path {
    fill: rgb(213, 48, 112)
}

.Caterham path {
    fill: rgb(32, 99, 106)
}

.Chevrolet path {
    fill: rgb(233, 224, 198)
}

.Chevrolet

/
Daewoo path {
    fill: rgb(98, 14, 118)
}

.Chrysler path {
    fill: rgb(253, 217, 170)
}

.Citroën path {
    fill: rgb(206, 91, 136)
}

.Corvette path {
    fill: rgb(150, 44, 88)
}

.Cupra path {
    fill: rgb(211, 211, 7)
}

.Dacia path {
    fill: rgb(214, 221, 192)
}

.Daihatsu path {
    fill: rgb(17, 173, 151)
}

.Dodge path {
    fill: rgb(166, 194, 175)
}

.DS Automobiles path {
    fill: rgb(116, 119, 201)
}

.Eli path {
    fill: rgb(89, 96, 251)
}

.Ferrari path {
    fill: rgb(97, 62, 26)
}

.GMC path {
    fill: rgb(110, 148, 245)
}

.Graf Carello path {
    fill: rgb(174, 185, 63)
}

.Honda path {
    fill: rgb(209, 185, 146)
}

.Hummer path {
    fill: rgb(172, 212, 20)
}

.Ineos path {
    fill: rgb(28, 104, 39)
}

.Infiniti path {
    fill: rgb(59, 16, 156)
}

.Isuzu path {
    fill: rgb(72, 240, 75)
}

.IVECO path {
    fill: rgb(169, 193, 41)
}

.JAC path {
    fill: rgb(15, 87, 78)
}

.Jaguar path {
    fill: rgb(238, 31, 21)
}

.Jeep path {
    fill: rgb(255, 23, 5)
}

.KTM path {
    fill: rgb(63, 54, 113)
}

.Lada path {
    fill: rgb(64, 137, 27)
}

.Lamborghini path {
    fill: rgb(193, 233, 252)
}

.Lancia path {
    fill: rgb(248, 183, 198)
}

.Land Rover path {
    fill: rgb(111, 80, 140)
}

.Lexus path {
    fill: rgb(138, 110, 128)
}

.Ligier path {
    fill: rgb(23, 89, 14)
}

.Lincoln path {
    fill: rgb(11, 36, 195)
}

.Lotus path {
    fill: rgb(127, 182, 31)
}

.Mahindra path {
    fill: rgb(140, 3, 14)
}

.MAN path {
    fill: rgb(123, 148, 106)
}

.Maserati path {
    fill: rgb(193, 195, 133)
}

.Maybach path {
    fill: rgb(157, 31, 215)
}

.McLaren path {
    fill: rgb(145, 190, 60)
}

.Mercury path {
    fill: rgb(25, 46, 144)
}

.MG path {
    fill: rgb(216, 2, 195)
}

.Microcar path {
    fill: rgb(200, 224, 38)
}

.MINI path {
    fill: rgb(135, 69, 184)
}

.Mitsubishi path {
    fill: rgb(134, 19, 131)
}

.Morgan path {
    fill: rgb(204, 21, 163)
}

.Nissan path {
    fill: rgb(199, 99, 90)
}

.Peugeot path {
    fill: rgb(16, 206, 165)
}

.Polestar path {
    fill: rgb(147, 136, 0)
}

.Pontiac path {
    fill: rgb(222, 176, 69)
}

.Porsche path {
    fill: rgb(168, 60, 94)
}

.Puch path {
    fill: rgb(213, 53, 234)
}

.Rolls-Royce path {
    fill: rgb(254, 80, 238)
}

.Rover path {
    fill: rgb(133, 89, 125)
}

.Saab path {
    fill: rgb(33, 147, 102)
}

.Smart path {
    fill: rgb(8, 156, 87)
}

.SsangYong path {
    fill: rgb(234, 43, 162)
}

.Subaru path {
    fill: rgb(53, 116, 169)
}

.Suzuki path {
    fill: rgb(16, 136, 206)
}

.Talbot path {
    fill: rgb(88, 7, 167)
}

.Tazzari path {
    fill: rgb(172, 191, 36)
}

.Tesla path {
    fill: rgb(121, 143, 140)
}

.Trabant path {
    fill: rgb(221, 214, 79)
}

.Triumph path {
    fill: rgb(81, 75, 170)
}

.ZhiDou path {
    fill: rgb(32, 111, 189)
}

.Sonstige path {
    fill: rgb(49, 152, 26)
}

.Sportequipe path {
    fill: rgb(252, 233, 68)
}

.Austin-Healey path {
    fill: rgb(50, 136, 250)
}

.Tata path {
    fill: rgb(242, 202, 79)
}

.Bugatti path {
    fill: rgb(100, 134, 238)
}

.Caravans-Wohnm path {
    fill: rgb(213, 18, 155)
}

.Carver path {
    fill: rgb(120, 5, 16)
}

.Cenntro path {
    fill: rgb(10, 222, 125)
}

.Changhe path {
    fill: rgb(12, 43, 143)
}

.Chatenet path {
    fill: rgb(77, 155, 127)
}

. path {
    fill: rgb(83, 54, 36)
}

.Elaris path {
    fill: rgb(77, 28, 154)
}

.ZAZ path {
    fill: rgb(139, 208, 20)
}

.Innocenti path {
    fill: rgb(173, 87, 197)
}

.Reliant path {
    fill: rgb(134, 48, 187)
}

.Mitsuoka path {
    fill: rgb(129, 76, 155)
}

.GAZ path {
    fill: rgb(113, 169, 17)
}

.Wiesmann path {
    fill: rgb(223, 110, 111)
}

.Karma path {
    fill: rgb(247, 60, 59)
}

.Citroen path {
    fill: rgb(232, 149, 121)
}

.NSU path {
    fill: rgb(136, 154, 33)
}

.DR path {
    fill: rgb(14, 87, 158)
}

.Militem path {
    fill: rgb(61, 2, 42)
}

.DAF path {
    fill: rgb(115, 80, 24)
}

.VAZ path {
    fill: rgb(211, 149, 163)
}

.Lynk path {
    fill: rgb(160, 51, 99)
}

.e.GO path {
    fill: rgb(201, 229, 100)
}

.9
ff path {
    fill: rgb(234, 99, 36)
}

.DS path {
    fill: rgb(114, 76, 232)
}

.Bristol path {
    fill: rgb(254, 16, 85)
}

.Silence path {
    fill: rgb(204, 84, 41)
}

.Great path {
    fill: rgb(218, 187, 172)
}

.Delorean path {
    fill: rgb(86, 179, 76)
}

.Alfa_Romeo path {
    fill: rgb(234, 144, 247)
}

.Zhidou path {
    fill: rgb(234, 6, 113)
}

.VEM path {
    fill: rgb(149, 211, 252)
}

.AC path {
    fill: rgb(97, 50, 178)
}

.Vanderhall path {
    fill: rgb(175, 214, 42)
}

.Kia path {
    fill: rgb(79, 244, 81)
}

.Santana path {
    fill: rgb(249, 137, 249)
}

.Amphicar path {
    fill: rgb(131, 51, 146)
}

.Panther path {
    fill: rgb(23, 212, 205)
}

.Moskvich path {
    fill: rgb(76, 191, 26)
}

.Wenckstern path {
    fill: rgb(188, 149, 125)
}

.Alba path {
    fill: rgb(158, 207, 106)
}

.Studebaker path {
    fill: rgb(222, 189, 71)
}

.De path {
    fill: rgb(181, 248, 110)
}

.Acura path {
    fill: rgb(155, 195, 163)
}

.Shelby path {
    fill: rgb(135, 204, 205)
}

.Maxus path {
    fill: rgb(253, 6, 188)
}

.Minauto path {
    fill: rgb(16, 116, 4)
}

.MPM path {
    fill: rgb(86, 134, 225)
}

.Wartburg path {
    fill: rgb(182, 23, 229)
}

.Haval path {
    fill: rgb(166, 66, 181)
}

.Tasso path {
    fill: rgb(70, 99, 209)
}

.Hurtan path {
    fill: rgb(65, 33, 186)
}

.Jensen path {
    fill: rgb(9, 197, 206)
}

.Donkervoort path {
    fill: rgb(185, 23, 196)
}

.Giotti path {
    fill: rgb(2, 105, 5)
}

.Baic path {
    fill: rgb(121, 115, 235)
}

.Grecav path {
    fill: rgb(129, 173, 174)
}

.Others path {
    fill: rgb(234, 60, 144)
}

.Dallara path {
    fill: rgb(233, 84, 198)
}

.EMC path {
    fill: rgb(223, 213, 79)
}

.Bellier path {
    fill: rgb(167, 23, 101)
}
