.audi-path {
	fill: rgb(40, 175, 152);
	opacity: 96.5%;
	stroke: #000000d6;
}

.bmw-path {
	fill: rgb(252, 113, 217);
	opacity: 96.5%;
	stroke: #000000d6;
}

.fiat-path {
	fill: rgb(198, 226, 181);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ford-path {
	fill: rgb(158, 221, 56);
	opacity: 96.5%;
	stroke: #000000d6;
}

.hyundai-path {
	fill: rgb(106, 187, 172);
	opacity: 96.5%;
	stroke: #000000d6;
}

.kia-path {
	fill: rgb(186, 68, 229);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mazda-path {
	fill: rgb(101, 89, 162);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mercedes_benz-path {
	fill: rgb(240, 31, 53);
	opacity: 96.5%;
	stroke: #000000d6;
}

.opel-path {
	fill: rgb(204, 196, 78);
	opacity: 96.5%;
	stroke: #000000d6;
}

.renault-path {
	fill: rgb(77, 70, 59);
	opacity: 96.5%;
	stroke: #000000d6;
}

.seat-path {
	fill: rgb(202, 205, 215);
	opacity: 96.5%;
	stroke: #000000d6;
}

.skoda-path {
	fill: rgb(120, 27, 31);
	opacity: 96.5%;
	stroke: #000000d6;
}

.toyota-path {
	fill: rgb(218, 34, 136);
	opacity: 96.5%;
	stroke: #000000d6;
}

.volvo-path {
	fill: rgb(244, 71, 68);
	opacity: 96.5%;
	stroke: #000000d6;
}

.vw-path {
	fill: rgb(32, 175, 237);
	opacity: 96.5%;
	stroke: #000000d6;
}

.abarth-path {
	fill: rgb(255, 113, 237);
	opacity: 96.5%;
	stroke: #000000d6;
}

.aiways-path {
	fill: rgb(159, 21, 109);
	opacity: 96.5%;
	stroke: #000000d6;
}

.aixam-path {
	fill: rgb(19, 211, 75);
	opacity: 96.5%;
	stroke: #000000d6;
}

.alfa_romeo-path {
	fill: rgb(2, 178, 225);
	opacity: 96.5%;
	stroke: #000000d6;
}

.alpina-path {
	fill: rgb(138, 200, 126);
	opacity: 96.5%;
	stroke: #000000d6;
}

.alpine-path {
	fill: rgb(186, 59, 165);
	opacity: 96.5%;
	stroke: #000000d6;
}

.aston_martin-path {
	fill: rgb(21, 115, 94);
	opacity: 96.5%;
	stroke: #000000d6;
}

.austin-path {
	fill: rgb(133, 110, 130);
	opacity: 96.5%;
	stroke: #000000d6;
}

.bentley-path {
	fill: rgb(73, 42, 248);
	opacity: 96.5%;
	stroke: #000000d6;
}

.british_leyland-path {
	fill: rgb(55, 113, 248);
	opacity: 96.5%;
	stroke: #000000d6;
}

.buick-path {
	fill: rgb(84, 85, 33);
	opacity: 96.5%;
	stroke: #000000d6;
}

.byd-path {
	fill: rgb(140, 82, 17);
	opacity: 96.5%;
	stroke: #000000d6;
}

.cadillac-path {
	fill: rgb(230, 24, 143);
	opacity: 96.5%;
	stroke: #000000d6;
}

.casalini-path {
	fill: rgb(156, 115, 170);
	opacity: 96.5%;
	stroke: #000000d6;
}

.caterham-path {
	fill: rgb(138, 175, 172);
	opacity: 96.5%;
	stroke: #000000d6;
}

.chevrolet-path {
	fill: rgb(249, 142, 28);
	opacity: 96.5%;
	stroke: #000000d6;
}

.chrysler-path {
	fill: rgb(67, 137, 34);
	opacity: 96.5%;
	stroke: #000000d6;
}

.citroen-path {
	fill: rgb(87, 217, 168);
	opacity: 96.5%;
	stroke: #000000d6;
}

.corvette-path {
	fill: rgb(121, 10, 88);
	opacity: 96.5%;
	stroke: #000000d6;
}

.cupra-path {
	fill: rgb(81, 4, 26);
	opacity: 96.5%;
	stroke: #000000d6;
}

.dacia-path {
	fill: rgb(191, 190, 118);
	opacity: 96.5%;
	stroke: #000000d6;
}

.daihatsu-path {
	fill: rgb(75, 3, 237);
	opacity: 96.5%;
	stroke: #000000d6;
}

.dodge-path {
	fill: rgb(46, 8, 115);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ds_automobiles-path {
	fill: rgb(234, 220, 244);
	opacity: 96.5%;
	stroke: #000000d6;
}

.eli-path {
	fill: rgb(1, 42, 89);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ferrari-path {
	fill: rgb(145, 217, 142);
	opacity: 96.5%;
	stroke: #000000d6;
}

.gmc-path {
	fill: rgb(221, 252, 105);
	opacity: 96.5%;
	stroke: #000000d6;
}

.graf_carello-path {
	fill: rgb(22, 12, 140);
	opacity: 96.5%;
	stroke: #000000d6;
}

.honda-path {
	fill: rgb(165, 45, 92);
	opacity: 96.5%;
	stroke: #000000d6;
}

.hummer-path {
	fill: rgb(110, 158, 152);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ineos-path {
	fill: rgb(52, 146, 72);
	opacity: 96.5%;
	stroke: #000000d6;
}

.infiniti-path {
	fill: rgb(211, 133, 199);
	opacity: 96.5%;
	stroke: #000000d6;
}

.isuzu-path {
	fill: rgb(193, 180, 87);
	opacity: 96.5%;
	stroke: #000000d6;
}

.iveco-path {
	fill: rgb(41, 45, 49);
	opacity: 96.5%;
	stroke: #000000d6;
}

.jac-path {
	fill: rgb(96, 167, 59);
	opacity: 96.5%;
	stroke: #000000d6;
}

.jaguar-path {
	fill: rgb(84, 10, 254);
	opacity: 96.5%;
	stroke: #000000d6;
}

.jeep-path {
	fill: rgb(108, 60, 226);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ktm-path {
	fill: rgb(112, 195, 165);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lada-path {
	fill: rgb(121, 83, 170);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lamborghini-path {
	fill: rgb(156, 238, 16);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lancia-path {
	fill: rgb(55, 174, 50);
	opacity: 96.5%;
	stroke: #000000d6;
}

.land_rover-path {
	fill: rgb(31, 97, 189);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lexus-path {
	fill: rgb(126, 133, 107);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ligier-path {
	fill: rgb(250, 24, 178);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lincoln-path {
	fill: rgb(185, 89, 6);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lotus-path {
	fill: rgb(136, 38, 55);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mahindra-path {
	fill: rgb(141, 2, 8);
	opacity: 96.5%;
	stroke: #000000d6;
}

.man-path {
	fill: rgb(8, 131, 100);
	opacity: 96.5%;
	stroke: #000000d6;
}

.maserati-path {
	fill: rgb(127, 108, 179);
	opacity: 96.5%;
	stroke: #000000d6;
}

.maybach-path {
	fill: rgb(206, 139, 0);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mclaren-path {
	fill: rgb(18, 40, 228);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mercury-path {
	fill: rgb(130, 54, 50);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mg-path {
	fill: rgb(112, 236, 93);
	opacity: 96.5%;
	stroke: #000000d6;
}

.microcar-path {
	fill: rgb(14, 105, 198);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mini-path {
	fill: rgb(154, 191, 249);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mitsubishi-path {
	fill: rgb(80, 178, 144);
	opacity: 96.5%;
	stroke: #000000d6;
}

.morgan-path {
	fill: rgb(194, 132, 173);
	opacity: 96.5%;
	stroke: #000000d6;
}

.nissan-path {
	fill: rgb(132, 17, 243);
	opacity: 96.5%;
	stroke: #000000d6;
}

.peugeot-path {
	fill: rgb(30, 182, 142);
	opacity: 96.5%;
	stroke: #000000d6;
}

.polestar-path {
	fill: rgb(56, 178, 101);
	opacity: 96.5%;
	stroke: #000000d6;
}

.pontiac-path {
	fill: rgb(134, 23, 73);
	opacity: 96.5%;
	stroke: #000000d6;
}

.porsche-path {
	fill: rgb(130, 169, 64);
	opacity: 96.5%;
	stroke: #000000d6;
}

.puch-path {
	fill: rgb(209, 26, 31);
	opacity: 96.5%;
	stroke: #000000d6;
}

.rolls_royce-path {
	fill: rgb(159, 5, 7);
	opacity: 96.5%;
	stroke: #000000d6;
}

.rover-path {
	fill: rgb(70, 60, 230);
	opacity: 96.5%;
	stroke: #000000d6;
}

.saab-path {
	fill: rgb(241, 93, 7);
	opacity: 96.5%;
	stroke: #000000d6;
}

.smart-path {
	fill: rgb(103, 170, 124);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ssangyong-path {
	fill: rgb(141, 208, 75);
	opacity: 96.5%;
	stroke: #000000d6;
}

.subaru-path {
	fill: rgb(167, 183, 18);
	opacity: 96.5%;
	stroke: #000000d6;
}

.suzuki-path {
	fill: rgb(152, 148, 9);
	opacity: 96.5%;
	stroke: #000000d6;
}

.talbot-path {
	fill: rgb(152, 8, 111);
	opacity: 96.5%;
	stroke: #000000d6;
}

.tazzari-path {
	fill: rgb(30, 200, 27);
	opacity: 96.5%;
	stroke: #000000d6;
}

.tesla-path {
	fill: rgb(114, 122, 120);
	opacity: 96.5%;
	stroke: #000000d6;
}

.trabant-path {
	fill: rgb(203, 135, 176);
	opacity: 96.5%;
	stroke: #000000d6;
}

.triumph-path {
	fill: rgb(229, 166, 126);
	opacity: 96.5%;
	stroke: #000000d6;
}

.zhidou-path {
	fill: rgb(239, 26, 147);
	opacity: 96.5%;
	stroke: #000000d6;
}

.sonstige-path {
	fill: rgb(46, 14, 60);
	opacity: 96.5%;
	stroke: #000000d6;
}

.sportequipe-path {
	fill: rgb(65, 103, 28);
	opacity: 96.5%;
	stroke: #000000d6;
}

.austin_healey-path {
	fill: rgb(171, 56, 189);
	opacity: 96.5%;
	stroke: #000000d6;
}

.tata-path {
	fill: rgb(112, 22, 64);
	opacity: 96.5%;
	stroke: #000000d6;
}

.bristol-path {
	fill: rgb(5, 229, 253);
	opacity: 96.5%;
	stroke: #000000d6;
}

.bugatti-path {
	fill: rgb(14, 86, 102);
	opacity: 96.5%;
	stroke: #000000d6;
}

.caravans_wohnm-path {
	fill: rgb(237, 104, 244);
	opacity: 96.5%;
	stroke: #000000d6;
}

.carver-path {
	fill: rgb(61, 72, 91);
	opacity: 96.5%;
	stroke: #000000d6;
}

.cenntro-path {
	fill: rgb(139, 79, 106);
	opacity: 96.5%;
	stroke: #000000d6;
}

.changhe-path {
	fill: rgb(45, 14, 233);
	opacity: 96.5%;
	stroke: #000000d6;
}

.chatenet-path {
	fill: rgb(192, 10, 102);
	opacity: 96.5%;
	stroke: #000000d6;
}

.elaris-path {
	fill: rgb(20, 222, 14);
	opacity: 96.5%;
	stroke: #000000d6;
}

.zaz-path {
	fill: rgb(4, 148, 233);
	opacity: 96.5%;
	stroke: #000000d6;
}

.innocenti-path {
	fill: rgb(205, 232, 183);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ferrar-path {
	fill: rgb(91, 188, 163);
	opacity: 96.5%;
	stroke: #000000d6;
}

.reliant-path {
	fill: rgb(152, 210, 174);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mitsuoka-path {
	fill: rgb(182, 161, 54);
	opacity: 96.5%;
	stroke: #000000d6;
}

.gaz-path {
	fill: rgb(93, 153, 205);
	opacity: 96.5%;
	stroke: #000000d6;
}

.wiesmann-path {
	fill: rgb(215, 166, 172);
	opacity: 96.5%;
	stroke: #000000d6;
}

.karma-path {
	fill: rgb(124, 17, 229);
	opacity: 96.5%;
	stroke: #000000d6;
}

.nsu-path {
	fill: rgb(212, 184, 46);
	opacity: 96.5%;
	stroke: #000000d6;
}

.dr-path {
	fill: rgb(169, 14, 29);
	opacity: 96.5%;
	stroke: #000000d6;
}

.militem-path {
	fill: rgb(184, 123, 158);
	opacity: 96.5%;
	stroke: #000000d6;
}

.iso-path {
	fill: rgb(112, 130, 24);
	opacity: 96.5%;
	stroke: #000000d6;
}

.daf-path {
	fill: rgb(228, 1, 28);
	opacity: 96.5%;
	stroke: #000000d6;
}

.vaz-path {
	fill: rgb(245, 111, 23);
	opacity: 96.5%;
	stroke: #000000d6;
}

.lynk-path {
	fill: rgb(218, 243, 161);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ds-path {
	fill: rgb(164, 43, 125);
	opacity: 96.5%;
	stroke: #000000d6;
}

.e.go-path {
	fill: rgb(60, 166, 209);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ruf-path {
	fill: rgb(165, 106, 199);
	opacity: 96.5%;
	stroke: #000000d6;
}

.silence-path {
	fill: rgb(191, 5, 165);
	opacity: 96.5%;
	stroke: #000000d6;
}

.great-path {
	fill: rgb(1, 154, 167);
	opacity: 96.5%;
	stroke: #000000d6;
}

.delorean-path {
	fill: rgb(229, 118, 120);
	opacity: 96.5%;
	stroke: #000000d6;
}

.vem-path {
	fill: rgb(99, 93, 96);
	opacity: 96.5%;
	stroke: #000000d6;
}

.ac-path {
	fill: rgb(152, 21, 241);
	opacity: 96.5%;
	stroke: #000000d6;
}

.vanderhall-path {
	fill: rgb(135, 24, 232);
	opacity: 96.5%;
	stroke: #000000d6;
}

.santana-path {
	fill: rgb(252, 236, 17);
	opacity: 96.5%;
	stroke: #000000d6;
}

.amphicar-path {
	fill: rgb(79, 18, 76);
	opacity: 96.5%;
	stroke: #000000d6;
}

.panther-path {
	fill: rgb(18, 135, 113);
	opacity: 96.5%;
	stroke: #000000d6;
}

.moskvich-path {
	fill: rgb(77, 40, 168);
	opacity: 96.5%;
	stroke: #000000d6;
}

.wenckstern-path {
	fill: rgb(35, 14, 67);
	opacity: 96.5%;
	stroke: #000000d6;
}

.alba-path {
	fill: rgb(75, 122, 219);
	opacity: 96.5%;
	stroke: #000000d6;
}

.studebaker-path {
	fill: rgb(79, 97, 44);
	opacity: 96.5%;
	stroke: #000000d6;
}

.de-path {
	fill: rgb(248, 189, 209);
	opacity: 96.5%;
	stroke: #000000d6;
}

.acura-path {
	fill: rgb(28, 180, 152);
	opacity: 96.5%;
	stroke: #000000d6;
}

.shelby-path {
	fill: rgb(138, 187, 24);
	opacity: 96.5%;
	stroke: #000000d6;
}

.maxus-path {
	fill: rgb(44, 52, 47);
	opacity: 96.5%;
	stroke: #000000d6;
}

.minauto-path {
	fill: rgb(23, 168, 20);
	opacity: 96.5%;
	stroke: #000000d6;
}

.mpm-path {
	fill: rgb(75, 97, 230);
	opacity: 96.5%;
	stroke: #000000d6;
}

.wartburg-path {
	fill: rgb(56, 30, 236);
	opacity: 96.5%;
	stroke: #000000d6;
}

.haval-path {
	fill: rgb(78, 73, 142);
	opacity: 96.5%;
	stroke: #000000d6;
}

.tasso-path {
	fill: rgb(121, 166, 96);
	opacity: 96.5%;
	stroke: #000000d6;
}

.hurtan-path {
	fill: rgb(103, 221, 102);
	opacity: 96.5%;
	stroke: #000000d6;
}

.jensen-path {
	fill: rgb(7, 188, 6);
	opacity: 96.5%;
	stroke: #000000d6;
}

.donkervoort-path {
	fill: rgb(83, 229, 212);
	opacity: 96.5%;
	stroke: #000000d6;
}

.giotti-path {
	fill: rgb(92, 214, 19);
	opacity: 96.5%;
	stroke: #000000d6;
}

.baic-path {
	fill: rgb(85, 93, 136);
	opacity: 96.5%;
	stroke: #000000d6;
}

.grecav-path {
	fill: rgb(94, 143, 28);
	opacity: 96.5%;
	stroke: #000000d6;
}

.others-path {
	fill: rgb(173, 214, 230);
	opacity: 96.5%;
	stroke: #000000d6;
}

.galloper-path {
	fill: rgb(122, 213, 244);
	opacity: 96.5%;
	stroke: #000000d6;
}

.dallara-path {
	fill: rgb(204, 50, 233);
	opacity: 96.5%;
	stroke: #000000d6;
}

.emc-path {
	fill: rgb(11, 195, 248);
	opacity: 96.5%;
	stroke: #000000d6;
}

.bellier-path {
	fill: rgb(94, 37, 252);
	opacity: 96.5%;
	stroke: #000000d6;
}

