.audi path {
	fill: rgb(192, 201, 131)
}

.bmw path {
	fill: rgb(36, 24, 62)
}

.fiat path {
	fill: rgb(41, 41, 172)
}

.ford path {
	fill: rgb(228, 156, 120)
}

.hyundai path {
	fill: rgb(159, 204, 115)
}

.kia path {
	fill: rgb(139, 115, 231)
}

.mazda path {
	fill: rgb(201, 217, 162)
}

.mercedes_benz path {
	fill: rgb(64, 187, 10)
}

.opel path {
	fill: rgb(37, 65, 236)
}

.renault path {
	fill: rgb(124, 109, 57)
}

.seat path {
	fill: rgb(149, 175, 50)
}

.skoda path {
	fill: rgb(197, 111, 110)
}

.toyota path {
	fill: rgb(175, 15, 209)
}

.volvo path {
	fill: rgb(180, 226, 176)
}

.vw path {
	fill: rgb(60, 156, 51)
}

.abarth path {
	fill: rgb(80, 180, 62)
}

.aiways path {
	fill: rgb(0, 246, 134)
}

.aixam path {
	fill: rgb(40, 70, 129)
}

.alfa_romeo path {
	fill: rgb(255, 223, 45)
}

.alpina path {
	fill: rgb(128, 168, 10)
}

.alpine path {
	fill: rgb(254, 46, 122)
}

.aston_martin path {
	fill: rgb(135, 46, 45)
}

.austin path {
	fill: rgb(0, 163, 146)
}

.bentley path {
	fill: rgb(29, 212, 110)
}

.british_leyland path {
	fill: rgb(205, 217, 253)
}

.buick path {
	fill: rgb(73, 156, 173)
}

.byd path {
	fill: rgb(182, 246, 210)
}

.cadillac path {
	fill: rgb(122, 98, 178)
}

.casalini path {
	fill: rgb(75, 203, 234)
}

.caterham path {
	fill: rgb(35, 130, 71)
}

.chevrolet path {
	fill: rgb(47, 32, 215)
}

.chevrolet___daewoo path {
	fill: rgb(196, 248, 48)
}

.chrysler path {
	fill: rgb(158, 84, 30)
}

.citroen path {
	fill: rgb(178, 105, 171)
}

.corvette path {
	fill: rgb(137, 243, 72)
}

.cupra path {
	fill: rgb(8, 30, 3)
}

.dacia path {
	fill: rgb(255, 37, 243)
}

.daihatsu path {
	fill: rgb(239, 97, 180)
}

.dodge path {
	fill: rgb(124, 105, 222)
}

.ds_automobiles path {
	fill: rgb(236, 59, 43)
}

.eli path {
	fill: rgb(141, 224, 163)
}

.ferrari path {
	fill: rgb(149, 200, 245)
}

.gmc path {
	fill: rgb(34, 6, 52)
}

.graf_carello path {
	fill: rgb(82, 126, 62)
}

.honda path {
	fill: rgb(134, 62, 146)
}

.hummer path {
	fill: rgb(177, 125, 197)
}

.ineos path {
	fill: rgb(153, 255, 111)
}

.infiniti path {
	fill: rgb(204, 243, 204)
}

.isuzu path {
	fill: rgb(78, 170, 184)
}

.iveco path {
	fill: rgb(130, 154, 95)
}

.jac path {
	fill: rgb(175, 22, 234)
}

.jaguar path {
	fill: rgb(205, 141, 237)
}

.jeep path {
	fill: rgb(182, 236, 180)
}

.ktm path {
	fill: rgb(115, 199, 171)
}

.lada path {
	fill: rgb(59, 27, 47)
}

.lamborghini path {
	fill: rgb(247, 22, 201)
}

.lancia path {
	fill: rgb(60, 224, 91)
}

.land_rover path {
	fill: rgb(140, 55, 109)
}

.lexus path {
	fill: rgb(3, 152, 118)
}

.ligier path {
	fill: rgb(196, 185, 48)
}

.lincoln path {
	fill: rgb(219, 34, 53)
}

.lotus path {
	fill: rgb(184, 207, 162)
}

.mahindra path {
	fill: rgb(195, 230, 164)
}

.man path {
	fill: rgb(143, 219, 212)
}

.maserati path {
	fill: rgb(214, 75, 111)
}

.maybach path {
	fill: rgb(108, 207, 219)
}

.mclaren path {
	fill: rgb(246, 136, 149)
}

.mercury path {
	fill: rgb(109, 29, 0)
}

.mg path {
	fill: rgb(151, 68, 114)
}

.microcar path {
	fill: rgb(109, 2, 218)
}

.mini path {
	fill: rgb(16, 146, 226)
}

.mitsubishi path {
	fill: rgb(139, 238, 179)
}

.morgan path {
	fill: rgb(200, 235, 131)
}

.nissan path {
	fill: rgb(224, 240, 227)
}

.peugeot path {
	fill: rgb(69, 21, 80)
}

.polestar path {
	fill: rgb(180, 19, 146)
}

.pontiac path {
	fill: rgb(230, 60, 164)
}

.porsche path {
	fill: rgb(4, 72, 229)
}

.puch path {
	fill: rgb(202, 231, 205)
}

.rolls_royce path {
	fill: rgb(252, 192, 72)
}

.rover path {
	fill: rgb(225, 175, 184)
}

.saab path {
	fill: rgb(177, 237, 164)
}

.smart path {
	fill: rgb(251, 128, 141)
}

.ssangyong path {
	fill: rgb(148, 49, 66)
}

.subaru path {
	fill: rgb(221, 123, 127)
}

.suzuki path {
	fill: rgb(171, 143, 208)
}

.talbot path {
	fill: rgb(26, 24, 53)
}

.tazzari path {
	fill: rgb(75, 215, 195)
}

.tesla path {
	fill: rgb(235, 19, 170)
}

.trabant path {
	fill: rgb(84, 39, 211)
}

.triumph path {
	fill: rgb(69, 252, 195)
}

.zhidou path {
	fill: rgb(193, 119, 107)
}

.sonstige path {
	fill: rgb(11, 157, 160)
}

.sportequipe path {
	fill: rgb(152, 19, 157)
}

.austin_healey path {
	fill: rgb(214, 29, 223)
}

.tata path {
	fill: rgb(148, 234, 55)
}

.bristol path {
	fill: rgb(220, 141, 48)
}

.bugatti path {
	fill: rgb(160, 242, 5)
}

.caravans_wohnm path {
	fill: rgb(196, 158, 28)
}

.carver path {
	fill: rgb(2, 96, 121)
}

.cenntro path {
	fill: rgb(52, 40, 228)
}

.changhe path {
	fill: rgb(24, 130, 226)
}

.chatenet path {
	fill: rgb(88, 209, 51)
}

.elaris path {
	fill: rgb(118, 213, 10)
}

.zaz path {
	fill: rgb(194, 40, 114)
}

.innocenti path {
	fill: rgb(116, 44, 245)
}

.ferrar path {
	fill: rgb(191, 226, 58)
}

.reliant path {
	fill: rgb(70, 203, 155)
}

.mitsuoka path {
	fill: rgb(104, 86, 119)
}

.gaz path {
	fill: rgb(133, 146, 160)
}

.wiesmann path {
	fill: rgb(114, 94, 59)
}

.karma path {
	fill: rgb(177, 69, 217)
}

.nsu path {
	fill: rgb(53, 20, 254)
}

.dr path {
	fill: rgb(202, 157, 210)
}

.militem path {
	fill: rgb(29, 123, 81)
}

.iso path {
	fill: rgb(137, 220, 233)
}

.daf path {
	fill: rgb(171, 100, 207)
}

.vaz path {
	fill: rgb(114, 204, 110)
}

.lynk path {
	fill: rgb(18, 66, 211)
}

.ds path {
	fill: rgb(234, 205, 98)
}

.e.go path {
	fill: rgb(85, 225, 3)
}

.ruf path {
	fill: rgb(191, 47, 164)
}

.silence path {
	fill: rgb(143, 144, 59)
}

.great path {
	fill: rgb(239, 246, 152)
}

.delorean path {
	fill: rgb(157, 49, 84)
}

.vem path {
	fill: rgb(54, 118, 229)
}

.ac path {
	fill: rgb(216, 130, 74)
}

.vanderhall path {
	fill: rgb(99, 254, 20)
}

.santana path {
	fill: rgb(67, 53, 189)
}

.amphicar path {
	fill: rgb(37, 195, 65)
}

.panther path {
	fill: rgb(163, 209, 4)
}

.moskvich path {
	fill: rgb(100, 2, 18)
}

.wenckstern path {
	fill: rgb(136, 157, 82)
}

.alba path {
	fill: rgb(83, 129, 181)
}

.studebaker path {
	fill: rgb(172, 143, 187)
}

.de path {
	fill: rgb(104, 167, 8)
}

.acura path {
	fill: rgb(9, 35, 119)
}

.shelby path {
	fill: rgb(8, 78, 237)
}

.maxus path {
	fill: rgb(132, 83, 171)
}

.minauto path {
	fill: rgb(37, 225, 36)
}

.mpm path {
	fill: rgb(72, 135, 10)
}

.wartburg path {
	fill: rgb(15, 209, 12)
}

.haval path {
	fill: rgb(202, 78, 219)
}

.tasso path {
	fill: rgb(109, 20, 127)
}

.hurtan path {
	fill: rgb(49, 83, 105)
}

.jensen path {
	fill: rgb(110, 70, 73)
}

.donkervoort path {
	fill: rgb(212, 51, 118)
}

.giotti path {
	fill: rgb(109, 153, 223)
}

.baic path {
	fill: rgb(116, 146, 200)
}

.grecav path {
	fill: rgb(124, 24, 169)
}

.others path {
	fill: rgb(156, 60, 195)
}

.galloper path {
	fill: rgb(51, 50, 229)
}

.dallara path {
	fill: rgb(229, 134, 80)
}

.emc path {
	fill: rgb(96, 22, 68)
}

.bellier path {
	fill: rgb(143, 21, 21)
}
