#pie-chart-area {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3%;
    right: 0;
    max-width: 200px;
    margin-left: auto;
    height: 80%;
    overflow: auto;
}

.pieDib {
    margin-left: 20px;
}

.pie-svg {
    position: static;
}

.pie-legend-svg {
    position: static;
    margin-left: auto;
    margin-right: 12px;
    font-size: 0.8em;
}

.pie-group path {
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke: #989898;

}

.legend-title {
    margin: 2em 1em;
}

.pie-title {
    display: flex;
    margin: 3px 0 12px 0;

}

.smaller-legend-title {
    margin: 0.2em 0.7em;
}

.diesel {
    fill: #eeee9a;
}

.gasoline {
    fill:#bbbb70;
}

.electric {
    fill: darkseagreen;
}

.hybrid {
    fill: purple;
}

.others {
    fill: teal;
}
